In [1]:
import sqlite3

# Replace 'your_file.sdb' with the actual SQLite database file path
db_file = '../data/model_ifc.sdb'

try:
    # Connect to the SQLite database
    conn = sqlite3.connect(db_file)

    # Create a cursor object to execute SQL queries
    # Create a cursor object to execute SQL queries
    cursor = conn.cursor()
    # Query the sqlite_master table to get the list of all tables
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

    # Fetch the results
    tables = cursor.fetchall()

    # Extract table names and print them
    for table in tables:
        print(table[0])

except sqlite3.Error as e:
    print(f"SQLite error: {e}")
finally:
    # Close the database connection when done
    conn.close()

_objects_id
_objects_attr
_objects_val
_objects_eav

In [3]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
conn = sqlite3.connect(db_file)
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_id", conn)
data_objects_id.head(20)

    id        external_id  viewable_id
0    1                  a            1
1    2                  0            1
2    3                0/0            1
3    4              0/0/0            1
4    5            0/0/0/0            1
5    6            0/0/0/1            1
6    7            0/0/0/2            1
7    8            0/0/0/3            1
8    9            0/0/0/4            1
9   10          0/0/0/4/0            1
10  11        0/0/0/4/0/0            1
11  12      0/0/0/4/0/0/0            1
12  13    0/0/0/4/0/0/0/0            1
13  14  0/0/0/4/0/0/0/0/0            1
14  15  0/0/0/4/0/0/0/0/1            1
15  16        0/0/0/4/0/1            1
16  17      0/0/0/4/0/1/0            1
17  18        0/0/0/4/0/2            1
18  19      0/0/0/4/0/2/0            1
19  20    0/0/0/4/0/2/0/0            1

In [4]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_attr", conn)
data_objects_id.head(20)

,id,name,category,data_type,data_type_context,description,display_name,flags,display_precision,forge_parameter
0,1,name,__name__,20,None,None,None,0,0,None
1,2,child,__child__,11,None,None,None,1,0,None
2,3,parent,__parent__,11,None,None,None,1,0,None
3,4,instanceof_objid,__instanceof__,11,None,None,None,1,0,None
4,5,hastable,__hastable__,11,None,None,None,1,0,None
5,6,viewable_in,__viewable_in__,20,None,None,None,1,0,None
6,7,xref,__externalref__,20,None,None,None,1,0,None
7,8,is_doc_property,__document__,1,None,None,None,3,0,None
8,9,schema_name,__document__,20,None,None,None,1,0,None
9,10,schema_version,__document__,20,None,None,None,1,0,None
10,11,hyperlink,__hyperlink__,20,None,None,None,1,0,None
11,12,node_flags,__node_flags__,2,None,None,None,1,0,None
12,13,LcOaNode:LcOaSceneBaseUserName,Item,20,None,None,Name,0,0,None
13,14,LcOaNode:LcOaSceneBaseClassUserName,Item,20,None,None,Type,0,0,None
14,15,LcOaNode:LcOaNodeIcon,Item,21,None,None,Icon,0,0,None
15,16,LcOaNode:LcOaNodeHidden,Item,1,None,None,Hidden,0,0,None
16,17,LcOaNode:LcOaNodeRequired,Item,1,None,None,Required,0,0,None
17,18,LcOaNode:LcOaNodeMaterial,Item,20,None,None,Material,0,0,None
18,19,LcOaNode:LcOaUnit,Item,20,None,None,Unit,0,0,None
19,20,LcRevitPropertyProject:lcldrevit_parameter_-10...,Project,20,None,None,IfcApplicationName,0,0,None

In [5]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_val", conn)
data_objects_id.head(20)

    id                       value
0    1              MyHouseRCP.ifc
1    2                           5
2    3                        File
3    4                           0
4    5
5    6                 Millimeters
6    7   Autodesk Revit 2023 (ENU)
7    8                        2023
8    9               Location Data
9   10                   42.358662
10  11                   -71.05674
11  12                        -5.0
12  13                Default Site
13  14              IFC Properties
14  15  2023-08-25 08:58:17 +08:00
15  16                        IFC4
16  17   LcNwcLoaderPlugin:lcldifc
17  18                         nwd
18  19             Navisworks 2024
19  20                           1

In [6]:
# Read data from _objects_attr
import pandas as pd
# Read data from _objects_id
data_objects_id = pd.read_sql_query("SELECT * FROM _objects_eav", conn)
data_objects_id.head(20)

    id  entity_id  attribute_id  value_id
0    1          1             6         1
1    2          1             1         1
2    3          1            12         2
3    4          1            13         1
4    5          1            14         3
5    6          1            15         3
6    7          1            16         4
7    8          1            17         4
8    9          1            18         5
9   10          1            19         6
10  11          1            20         7
11  12          1            21         8
12  13          1            22         9
13  14          1            23        10
14  15          1            24        11
15  16          1            25         4
16  17          1            26        12
17  18          1            27        13
18  19          1            28        14
19  20          1            29         8

In [10]:
# Define and execute the SQL query with a JOIN statement
conn = sqlite3.connect(db_file)
# Define and execute the SQL query with JOIN statements
query = """
SELECT _objects_id.external_id, _objects_attr.category,_objects_attr.display_name, _objects_val.value
FROM _objects_id
JOIN _objects_eav ON _objects_id.id = _objects_eav.entity_id
JOIN _objects_attr ON _objects_eav.attribute_id = _objects_attr.id
JOIN _objects_val ON _objects_eav.value_id = _objects_val.id;
"""
data = pd.read_sql_query(query, conn)
data

,external_id,category,display_name,value
0,a,__viewable_in__,None,MyHouseRCP.ifc
1,a,__name__,None,MyHouseRCP.ifc
2,a,__node_flags__,None,5
3,a,Item,Name,MyHouseRCP.ifc
4,a,Item,Type,File
...,...,...,...,...
3738,1/0/1,Element,IfcGUID,3mTAi_OHnr$eH8uoAnekPh
3739,1/0/1,Element,IfcName,"Window-Casement-Double:48"" x 60"":299579:1"
3740,1/0/1,Element,IfcTag,299579
3741,1/0/1,__parent__,None,98
3742,1/0,__child__,None,100